$color1: #f9f871;
$color2: #ffd26f;
$color3: #ff98b2;
$color4: #b294e3;

$duration: 20s;
$ease: ease-in-out;
body {
  overflow: hidden;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.holder {
  width: 500px;
  height: 250px;
  position: relative;
  .circle {
    border-radius: 100% 100% 0 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: bottom center;
  }
  @for $i from 1 through 16 {
    .circle:nth-child(#{$i}) {
      $size: 0;
      @if ($i > 1) {
        $size: 31px * ($i - 1);
        border: 13px solid;
        @if ($i < 3) {
          border-color: $color1;
        }
        @else if ( $i < 5 ) {
          border-color: $color2;
        }
        @else if ( $i < 8 ) {
          border-color: $color3;
        }
        @else if ($i < 10) {
          border-color: $color4;
        }
        @else if ($i < 11) {
          border-color: $color3;
        }
        @else if ($i < 12) {
          border-color: $color2;
        }
        @else if ($i < 14) {
          border-color: $color1;
        }
        @else if ($i < 15) {
          border-color: $color3;
        }
        @else if ($i < 16) {
          border-color: $color2;
        } @else {
          border-color: $color4;
        }
      } @else {
        $size: 25px;
        background: $color4;
      }

      border-bottom: none;
      border-radius: $size $size 0 0;
      width: $size;
      height: $size / 2;
      z-index: 16 - $i;
      animation: circle-#{$i} $duration infinite $ease;
    }
    @keyframes circle-#{$i} {
      0% {
        transform: translateX(-50%) rotate(0deg);
      }
      100% {
        transform: translateX(-50%) rotate(-($i * 360deg));
      }
    }
  }
}
