* {
	margin: 0px;
	padding: 0px;
	
  }
  body {
	font-size: 120%;
	background: url(caraibes.jpg);
	background-repeat: no-repeat;
	background-size: cover;
  }
  .header {
	width: 30%;
	margin: 200px auto 0px;
	color: #17A2B8;
	background: #D1ECf1;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
	
  }
  form, .content {
	width: 30% !important;
	margin: 0px auto;
	padding: 20px !important;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
  }
  .input-group {
	margin: 10px 0px 10px 0px !important;
  }
  .input-group label {
	display: block !important;
	text-align: left !important;
	margin: 3px !important;
  }
  .input-group input {
	height: 30px !important;
	width: 100% !important;
	padding: 5px 10px !important;
	font-size: 16px !important;
	border-radius: 5px !important;
	border: 1px solid gray !important;
  }
  .btn {
	padding: 10px;
	font-size: 15px;
	color: #17A2B8 !important;
	background: white !important;
	border: solid #17A2B8 1px !important;
	border-radius: 5px;
  }
  .btn:hover {
	  background-color: #17A2B8 !important;
	  color: #FFF !important;
  }
  .error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
  }
  .success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
  }

  